################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DevOpsContentful.sln
/bin/
/.vs/
