@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@section sc
    {
        <button onclick="myFunction()"></button>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jszip/2.4.0/jszip.min.js">
       
        
    </script>

    <script>
        function myFunction() {
            alert("Hello! I am an alert box!");
        }
    </script>
   
}