@model IEnumerable<DevOpsContentful.Models.Snippet>

@{
    ViewData["Title"] = "Snippets";
}

  
@foreach (var item in Model) {
       
           
               
               <li><a href="@item.Img.File.Url">@item.Img.Title</a></li>
            
       
}
    
